name: Application CI
on:
  push:
    branches: [ main ]

jobs:
  security_check:
    name: Run Security Pipeline
    uses: SathyaNarayana-indsys/studious-octo-meme/.github/workflows/Secure-Main.yml@main
    with:
      break_on_failure: false # Required for deployment logic, set to false for emergency bypass
      deployment_type: VM #either VM or Container defaults to VM
      # DryRun: false
      deploymentFolder: '/home/ssm-user/test' #the desired folder for deployment, which S
      envType: 'AWS' #AWS or GCP or OnPrem Location
      repoUser: 'ssm-user'
      # executionRequired: 'false'

    # secrets:
    #   REPORTS_REPO_PAT: ${{ secrets.REPORTS_REPO_PAT }}
    #   USER: ${{ secrets.SSH_USER }}
    #   HOST: ${{ secrets.SSH_HOSTNAME }}
    #   # SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
    #   AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY}}
    #   AWS_SECRET_ACCESS_KEY: ${{AWS_SECRET_ACCESS_KEY}} 
    secrets: inherit