name: Application CI
on:
  push:
    branches: [ main ]

jobs:
  security_check:
    name: Run Security Pipeline
    environment: gcp  # This sets the environment context
    uses: SathyaNarayana-indsys/studious-octo-meme/.github/workflows/Secure-Main.yml@main
    with:
      break_on_failure: false
      deployment_type: VM
      DryRun: false
      deploymentFolder: '/tmp/test'
    secrets: inherit  # This passes ALL secrets from the calling context