name: Secure Build Pipeline

on:
  push:
    branches: ["main"]

jobs:
  security:
    uses: Psycho-not0078/studious-octo-meme/.github/workflows/pythonSSH-build.yml
    with:
      break_on_failure: true
    secrets:
      REPORTS_REPO_PAT: ${{ secrets.REPORTS_REPO_PAT }}
      repo_link: ${{ vars.REPORTS_REPO_LINK }}
